body {
  background: repeating-conic-gradient(
    from 0deg at 64% -4%,
    #a8ccd2 0 25deg,
    #e1d0c4 33deg 51deg,
    #a8ccd2 56deg 25deg
  );
}

/*---------contact----------*/

.contactTitle {
  text-align: center;
  font-size: 30px;
  margin: 10vh;
  /* text-shadow: 1px 1px 1px white; */
}

h1 {
  font-size: max(4vw, 8vh);
  font-weight: bold;
  letter-spacing: 1vw;
  color: #0c5663;
}

.contact {
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.contact form {
}

.contact input,
textarea {
  display: block;
  margin: 0.5vw 1vh 1.5vw;
  width: 12vw;
  height: 4vh;
  border-radius: 0.5vw;
  border: 1px solid black;
  padding: 0.5vh 1vw;
  background-color: floralwhite;
}

textarea {
  width: 20vw;
  height: 20vh;
  font-size: 1.2vw;
  resize: none;
}

.contact p,
.contact span {
  font-size: 1.2vw;
}

.contact input[type="radio"] {
  display: inline;
  font-size: 1.2vw;
  width: 1vw;
  height: 1vw;
}

input[type="textarea"] {
  font-size: 1.2vw;
}

input:last-child {
  text-align: center;
  width: 7vw;
  color: white;
  border-radius: 1vw;
  border: 0;
  background-color: #976543;
}

.contact img {
  /* position: absolute;
  width: 14vw; */
  width: 40vw;
  left: 3vw;
  position: relative;
  border-radius: 10px;
}

.flexItem {
  flex-basis: 0;
  flex-grow: 1;
}

/* img:first-child {
  z-index: 1;
  left: 67vw;
  top: 44vh;
}

img:nth-child(2) {
  left: 44vw;
  top: 30vh;
  z-index: 1;
}

img:last-child {
  top: 13vh;
  left: 56vw;
} */
